      <div class="modal-header btn-primary">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><i class="fa fa-user fa-fw"/>Cadastrar Cargo</h4>
      </div>
      
      <form name="cargo_form" novalidate >
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Cargo *</label>
                <input type="text" name="nome" ng-model="item.nome" class="form-control" placeholder="Nome" required maxlength="40" autofocus>
                <div class="alert alert-danger" role="alert" ng-show="cargo_form.nome.$error.required && cargo_form.submitted">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" ></span>
                  <span class="sr-only">Error:</span>
                  Cargo Requerido!
                </div>
              </div>
            </div>  
          </div>
          
          <div class="row">
            <div class="col-md-12"> 
              <div class="form-group">
                <label>Descri&ccedil;&atilde;o</label><p>
                <textarea class="form-control" cols="50" rows="3" ng-model="item.descricao"></textarea>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Status *</label>
                <select name="status" class="selectpicker show-tick form-control"
                  ng-model="item.status.id"
                  ng-options="value.id as value.nome for value in list_status" required>
                </select>
                
                <div class="alert alert-danger" role="alert" ng-show="cargo_form.status.$error.required && cargo_form.submitted">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" ></span>
                  <span class="sr-only">Error:</span>
                  Status Requerido!
                </div>
              </div>
            </div>  
          </div>
          
          <div class="row">
            <div class="col-md-12">
             * Campos obrigat&oacute;rios
            </div>
          </div>
        </div> <!-- /.modal-body -->

        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="cancel();">
            <span class="fa fa-undo fa-fw"></span>Cancelar
          </button>
          <button type="button" ng-disabled="isDisabled" class="btn btn-primary" ng-click="saveItem(item);">
            <span class="fa fa-save fa-fw"></span>Confirmar
          </button>
        </div>
      </form>