      <div id="page-wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-wrench fa-fw"></i>{{ 'LABEL_ADMINISTRACAO' | translate }}</h1>
          </div>
          <!-- /.col-lg-12 -->
        </div>
		
		<!-- /.row -->
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-user fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="huge">&nbsp;</div>
                    <div>{{ 'LABEL_CARGO' | translate }}</div>
                  </div>
                </div>
              </div>
              <a href="#/cargo">
                <div class="panel-footer">
                  <span class="pull-left">{{ 'LABEL_VISUALIZAR' | translate }}</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
                </div>
              </a>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-mortar-board fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="huge">&nbsp;</div>
                    <div>{{ 'LABEL_ESPECIALIDADE' | translate }}</div>
                  </div>
                </div>
              </div>
              <a href="#/especialidade">
                <div class="panel-footer">
                  <span class="pull-left">{{ 'LABEL_VISUALIZAR' | translate }}</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-plus-square fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="huge">&nbsp;</div>
                    <div>{{ 'LABEL_HOSPITAL' | translate }}</div>
                  </div>
                </div>
              </div>
              <a href="#/hospital">
                <div class="panel-footer">
                  <span class="pull-left">{{ 'LABEL_VISUALIZAR' | translate }}</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
                </div>
              </a>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-user-md fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="huge">&nbsp;</div>
                    <div>{{ 'LABEL_PROFISSIONAL' | translate }}</div>
                  </div>
                </div>
              </div>
              <a href="#/profissional">
                <div class="panel-footer">
                  <span class="pull-left">{{ 'LABEL_VISUALIZAR' | translate }}</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
                </div>
              </a>
            </div>
          </div>
          
          <!-- div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-file-o fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="huge">&nbsp;</div>
                    <div>Modelo Contrato</div>
                  </div>
                </div>
              </div>
              <a href="#/modeloContrato">
                <div class="panel-footer">
                  <span class="pull-left">Visualizar</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
                </div>
              </a>
            </div>
          </div-->

        </div>
		<!-- /.row -->
      </div>
      <!-- /#page-wrapper -->
